footer {
    height: 310px;
    position: relative;
    background: rgb(248, 248, 248);
    padding: 20px;
}

.footer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-header-selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-body-content-box  {
    width: 200px;
    margin-top: 2pc;
}
.footer-body-header {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
}
.footer-body-pts {
    text-align: left;
    display: block;
    padding-inline-start: 0px;
    font-size: 14px;
    line-height: 21px;
    color: rgb(105, 105, 105);
}
.footer-img {
    width: 50%;
    height: 50%;
}

.footer-separator {
    height: 1px;
    margin: 10px 0 15px 0;
    background-color: rgb(232, 232, 232);
}

.footer-copyright {
    font-size: 13px;
    color: rgb(79, 79, 79);
    line-height: 17px;
    margin: 23px 0 26px 0;
}

.footer-left-title {
    width: max-content;
    max-width: 100%;
    cursor: pointer;
    position: relative;
    padding: 5px 13px;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 0.6rem;
    font-size: 20px;
    margin-right: 9px;
}
.footer-right-title {
    width: max-content;
    max-width: 100%;
    cursor: pointer;
    position: relative;
    padding: 5px 13px;
    font-size: 20px;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 0.6rem;
}